h1{margin-top:20px;
	color:#c14a28;}
.contact-me{
	font-weight: bold;}
body{
	font-family: 'Open Sans';}
div{
	text-align:center;}
.header{
	height:80px;
	padding-top: 30px;
	background: #f0f0f0;}
img{
	margin: 20px 0;
border-radius: 50%;
height: 200px;
transition:border-radius 1s ease-in-out-webkit-transition:border-radius 1s ease-in-out-webkit}

.container{
	height: 600px;
	width:70%;
margin-left: 15%;}

ul{list-style-type: none;
padding-left: 0;}

li{display: inline;}
p{color:#464646}
a{color:#222222;}
a:hover{color: red;}
.footer{height:100px;
background-color:#f0f0f0;}
